.Navbar{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    padding: 20px;
}
.form_body{
     display: flex;
     flex-direction: column;
     width: auto;
     gap: 10px;
     width: 40%;
     margin: auto;
     padding: 10px;
}
.form_body input{
    padding: 10px;
}